<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Battle!</title>
  </head>
  <body>
    <h1>Battle!</h1>
    <h2>Players - Enter your names</h2>
    <form action="/players" method="post">
      <label for="Player 1 Name">
        <input type="text" name="player_1_name" placeholder="Player 1 Name">
      </label>
      <label for="Player 2 Name">
        <input type="text" name="player_2_name" placeholder="Player 2 Name">
      </label>
      <input type="submit" value="Submit Player Names">
    </form>
  </body>
</html>

<label for=""></label>
